{
  "presets": [
    'react',
    ["env", {
      "targets": {
        "chrome": 56,
        "firefox": 54
      },
      "debug": true,
      "exclude": ["transform-regenerator"],
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
