{
  "presets": [
    'react',
    ["env", {
      "targets": {
        "chrome": 57,
        "firefox": 52,
      },
      "debug": true,
      "exclude": ["transform-regenerator"],
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
