{% load static raven %}
<!DOCTYPE html>
<html>
    <head>
        <title>Fireside | {{ room.id }}</title>
        <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="appContainer"></div>
        <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js"
    crossorigin="anonymous"></script>
        <script src="{% static 'dist/main.js' %}"></script>
        <script>
            Raven.config('{% sentry_public_dsn %}').install();

            let roomConfig = {{ config_json|safe }};
            window.initializeApp(Object.assign(
                {},
                { element: document.getElementById('appContainer') },
                roomConfig
            )).then((fireside) => { window.fireside = fireside });

            window.onunhandledrejection = function(evt) {
                Raven.captureException(evt.reason);
            };
        </script>
    </body>
</html>