{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Fireside | {{ room.id }}</title>
        <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="appContainer"></div>
        <script src="{% static 'dist/main.js' %}"></script>
        <script>
            window.initializeApp({
                element: document.getElementById('appContainer'),
                roomData: {
                    id: "{{ room.id }}",
                    ownerId: {{ room.owner.id }},
                    selfId: {{ self_uid|default:'null' }},
                    config: {{ config_json|safe }},
                    needsConfig: {% if not room.config %}true{% else %}false{% endif %},
                },
                opts: {
                    urls: {
                        socket: "{{ room.get_full_socket_url }}",
                        join: "{{ room.get_join_url }}",
                        messages: "{{ room.get_messages_url }}",
                        recordings: "{{ room.get_recordings_url }}",
                        action: "{{ room.get_absolute_url }}actions/:name/",
                        changeName: "{{ room.get_absolute_url }}participants/:uid/name/",
                    },
                },
            }).then((fireside) => { window.fireside = fireside });
        </script>
    </body>
</html>