.btn {
    background: white;
    display: inline-block;
    padding: 3px 15px;
    font-family: inherit;
    color: #333;
    border: 1px solid transparent;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    outline: none;
    &:not([disabled]) {
        &:hover, &:focus {
            background: #3199C5;
            color: white;
            box-shadow: 0 1px 0 rgba(0,0,0,0.1);
            border: 1px solid darken(#3199C5, 10%);
        }
        &:active {
            background: darken(#3199C5, 10%);
            border: 1px solid darken(#3199C5, 20%);
        }
    }
    &.recording:not(.recording-all) {
        display: none;
    }
    &.recording.start {
        border-radius: 20px;
        background: #D01A1A;
        color: white;
        position: relative;
        padding-left: 22px;
        &:before {
            display: inline-block;
            content: ' ';
            background: white;
            width: 8px;
            height: 8px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -4px;
            position: absolute;
            top: 50%;
            left: 8px;
            border-radius: 8px;
        }
        &:not([disabled]) {
            &:hover, &:focus {
                border: 1px solid white;
            }
            &:active {
                border: 1px solid darken(#D01A1A, 20%);
                background: darken(#D01A1A, 10%);
            }
        }
    }
    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
.btn-radio {
    padding: 0;
    position: relative;
    margin-left: -1px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    input {
        display: none;
    }
    label {
        display: block;
        padding: 3px 15px;
    }
    &.btn-checked {
        background: #3199C5;
        color: white;
        box-shadow: 0 1px 0 rgba(0,0,0,0.1);
        border: 1px solid darken(#3199C5, 10%);
        z-index: 1;
    }
    &:not(.btn-checked) {
        &:hover, &:focus {
            background: rgba(#3199C5, 0.7);
            color: white;
            box-shadow: 0 1px 0 rgba(0,0,0,0.1);
            border: 1px solid rgba(darken(#3199C5, 10%), 0.7);
        }
    }
}
.btn-small {
    font-size: 10px;
    padding: 1px 2px;
    line-height: 10px;
}
.btn.primary {
    background: #3199C5;
    color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    border: 1px solid darken(#3199C5, 10%);
}