.room-view > .flex-container {
    aside {
        a {
            text-decoration: none;
            color: #3199C5;
            font-weight: bold;
            &:hover {
                border-bottom: 1px solid #3199C5;
            }
        }
        width: 30%;
        background: #263037;
        color: rgba(white,0.8);
        display: flex;
        flex-direction: column;
        min-width: 230px;
        max-width: 270px;
        header.top-bar {
            background: rgba(0,0,0,0.2);
            color: white;
            display: flex;
            flex: 0 0 40px;
            > h2 {
                margin: 0;
                padding: 10px;
                font-size: 18px;
                color: rgba(white, 0.7);
                flex: 1 0 auto;
            }
            .conf {
                padding: 10px;
                font-size: 16px;
                color: #3199C5;
            }
            a {
                color: orange;
                text-decoration: none;
            }
        }
        .panel {
            h2 {
                text-transform: uppercase;
                margin: 5px 0 0;
                padding: 5px 10px;
                line-height: 1;
                font-size: 14px;
                color: rgba(white, 0.5);
                text-align: left;
                letter-spacing: 2px;
                background: rgba(black, 0.2);
            }
            padding: 5px 5px 10px 5px;
            &.user-status-panel {
                li {
                    &:last-child {
                        .membership {
                            border: none;
                        }
                    }
                }
                .btn.recording-all {
                    width: 80%;
                    display: block;
                    margin: 10px auto 0;
                    padding-left: 15px;
                    &::before {
                        position: static;
                        margin-right: 5px;
                    }
                }
                .membership {
                    margin-left: -5px;
                    margin-right: -5px;
                    margin-bottom: 5px;
                    border-bottom: 1px solid rgba(0,0,0,0.25);
                    padding: 5px 10px;
                    font-size: 12px;
                    .name {
                        font-size: 14px;
                        .btn.edit {
                            display: none;
                            margin: 0 2px;
                        }
                        &:hover, &:focus {
                            .btn.edit {
                                display: inline-block;
                            }
                        }
                    }
                    .topline {
                        display: flex;
                        line-height: 16px;
                        padding: 0 0 3px;
                    }
                    .resources {
                        display: inline;
                    }
                    .info {
                        flex-grow: 1;
                        align-items: baseline;
                    }
                    .recording-status {
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        > span::before {
                            width: 8px;
                            height: 8px;
                            border-radius: 8px;
                            vertical-align: middle;
                            margin-right: 5px;
                            margin-top: -2px;
                            background: #D01A1A;
                            content: " ";
                            display: inline-block;
                        }
                    }
                    .disk {
                        .bar {
                            box-shadow: 0 3px 5px rgba(0,0,0,0.4) inset;
                            height: 4px;
                            >span {
                                background-image: linear-gradient(#3199C5, darken(#3199C5, 13%));
                                height: 4px;
                                display: block;
                            }
                        }
                        .info {
                            display: flex;
                            line-height: 16px;
                            padding: 3px 0;
                            .time-left {
                                flex-grow: 1;
                            }
                        }
                    }
                    >.recording {
                        display: flex;
                        align-items: baseline;
                        >.status {
                            flex-grow: 1;
                        }
                        .bitrate {
                            font-style: italic;
                            font-size: 10px;
                        }
                        .size {
                            font-weight: bold;
                        }
                    }
                }
                .membership.disconnected > * {
                    opacity: 0.5;
                    font-style: italic;
                }
            }
        }
        .messages-panel.panel {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            padding: 0;
            h2 {
                margin: 0;
            }
        }
        .messages-panel {
            ul {
                overflow: scroll;
                flex: 1 1 auto;
                padding: 5px 0;
                background: #263037;
            }
            .chat-input {
                padding: 0 5px;
                textarea {
                    width: 100%;
                    min-height: 24px;
                    max-height: 100px;
                    padding: 5px;
                    line-height: 14px;
                    font-size: 14px;
                    font-family: $basefont;
                    box-shadow: 0 2px 5px rgba(black, 0.5);
                    border: 1px solid white;
                    border-radius: 2px;
                    &:focus {
                        box-shadow: 0 0 10px #3199C5;
                        border-color: #3199C5;
                        outline: none;
                    }
                }
            }
        }
        .message {
            padding: 3px 10px 2px;
            margin-bottom: 1px;
            align-items: baseline;
            time {
                color: rgba(white, 0.5);
                font-size: 12px;
                letter-spacing: 0.2px;
                line-height: 1;
                display: block;
            }
        }
        .message.recording {
            background: rgba(208, 26, 26, 0.2);
        }
        .message.chat {
            .text {
                display: inline;
            }
        }
        .message.join {
            .content {
                opacity: 0.6;
                font-style: italic;
            }
        }
        .message.leave {
            .content {
                opacity: 0.6;
                font-style: italic;
            }
        }
        .message.announce {
            .content {
                opacity: 0.6;
                font-style: italic;
            }
        }
    }
}