<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yakk</title>
        <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css"> 
        <link href="/bower_components/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"> 
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/handlebars/handlebars.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        <script src="/bower_components/backbone/backbone.js"></script>
        <script src="/bower_components/marionette/lib/backbone.marionette.js"></script>
        <script src="/bower_components/backbone.localstorage/backbone.localStorage.js"></script>
        <script src="/bower_components/filer.js/src/filer.js"></script>

        <script>window.FilerUtil = Util //FIXME!</script>
        <link href="/dist/style.css" rel="stylesheet" type="text/css">
        <script src="/dist/templates.js"></script>
        <script src="/dist/bundle.js"></script>
    </head>

    <body data-room-id="{{roomID}}">
      <div id="container">
        <div id="sidebarArea">
          <nav class="main">
            <h1>Fireside</h1>
          </nav>
          <div id="controlsPane" class="pane"></div>
          <div id="secondaryPane" class="region"></div>
        </div>
        <div id="mainArea">
          <nav class="room">
            <h1><a href="#">getfireside.co/<strong>{{roomID}}</strong></a></h1>
          </nav>
          <div id="mainPane"></div>
        </div>
      </div>

      <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="nameModalLabel">What's your name?</h4>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" placeholder="Anonymous">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary save">Connect</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="ffVideoResModal" tabindex="-1" role="dialog" aria-labelledby="ffVideoResModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="ffVideoResModalLabel">Manually specify your camera resolution</h4>
            </div>
            <div class="modal-body">
              <p class="ffextn-not-installed"><a href="/dist/yakk-ff-change-res.xpi">Install our firefox extension</a> so that you can manually change your camera resolution. Just hit install, then reload the page.</p>

              Width: <input name="width" type="text" class="form-control" placeholder="e.g. 1280">
              Height: <input name="height" type="text" class="form-control" placeholder="e.g. 720">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary save" disabled>Save and reload</button>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>