<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yakk</title>
        <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css"> 
        <link href="/bower_components/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"> 
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/handlebars/handlebars.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        <script src="/bower_components/backbone/backbone.js"></script>
        <script src="/bower_components/marionette/lib/backbone.marionette.js"></script>
        <script src="/bower_components/backbone.localstorage/backbone.localStorage.js"></script>
        <script src="/bower_components/filer.js/src/filer.js"></script>

        <script>window.FilerUtil = Util //FIXME!</script>
        <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic|PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="/dist/style.css" rel="stylesheet" type="text/css">
        <script src="/dist/templates.js"></script>
        <script src="/dist/bundle.js"></script>
    </head>

    <body data-room-id="{{roomID}}">
      <div id="container">
        <div id="sidebarArea">
          <nav class="main navbar">
            <h1>Fireside</h1>
          </nav>
          <div id="controlsPane" class="pane"></div>
          <div id="secondaryPane" class="region"></div>
        </div>
        <div id="mainArea">
          <nav class="room navbar">
            <div class="navbar-header">
              <h1><a href="#">getfireside.co/<strong>{{roomID}}</strong></a></h1>
            </div>
            <div class="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="settings dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog" title="settings"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="issue-report" data-toggle="modal" data-target="#reportModal">Report issue</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <div id="statusArea"></div>
          <div id="mainPane"></div>
        </div>
      </div>

      <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="nameModalLabel">What's your name?</h4>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" placeholder="Anonymous">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary save">Connect</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="nameModalLabel">Report a problem</h4>
            </div>
            <form>
            <div class="modal-body">
              <p><textarea class="form-control" placeholder="Describe what happened."></textarea></p>
              <p><em>A log of the session will be included in the error report.</em></p>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary send">Send</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal fade" id="ffVideoResModal" tabindex="-1" role="dialog" aria-labelledby="ffVideoResModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="ffVideoResModalLabel">Manually specify your camera resolution</h4>
            </div>
            <div class="modal-body">
              <p class="ffextn-not-installed"><a href="/dist/yakk-ff-change-res.xpi">Install our firefox extension</a> so that you can manually change your camera resolution. Just hit install, then reload the page.</p>

              Width: <input name="width" type="text" class="form-control" placeholder="e.g. 1280">
              Height: <input name="height" type="text" class="form-control" placeholder="e.g. 720">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary save" disabled>Save and reload</button>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>