@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$sidebarBg: #58356E;
$sidebarButtonBg: #ECECEC;


html, body {
	height: 100%;
	min-height: 300px;
	font-family: Cabin;
}

div#mainArea, div#sidebarArea {
	position: relative;
	nav {
		height: 40px;
		min-height: 0;
		border-radius: 0;
		margin: 0;
		border: none;
		div.navbar-collapse {
			padding: 0;
		}
		ul {
			margin: 0;
			li a {
				padding: 10px;
				color: white;
				&:hover {
					background: $sidebarBg;
				}
				&:focus {
					background: $sidebarBg;	
				}
			}
			.open > a {
				background: $sidebarBg;
			}
			a.settings {
				font-size: 20px;
			}
		}
		ul.dropdown-menu li a {
			color: black;
			&:hover, &:active, &:focus {
				color: white;
			}
		}
		background: black;
		color: white;
		padding: 0 0 0 10px;
		h1 {
			margin: 0;
			font-size: 20px;
			line-height: 40px;
			vertical-align: middle;
			a {
				color: #666;
				strong {
					color: white;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

div#statusArea {
	position: absolute;
	width: 100%;
	ul {
		padding: 0; margin: 0;
	}
	li.status {
		list-style-type: none;
		a {
			color: white;
			text-decoration: underline;
		}
		font-size: 16px;
		font-style: italic;
		line-height: 20px;
		padding: 9px 10px 8px;
		text-align: center;
		font-weight: bold;
		color: white;
		position: relative;
		background: rgba(#9455A6, 0.67);
		&.error {
			background: rgba(#C62F2F, 0.67);
		}
		&.success {
			background: rgba(#66A655, 0.67);
		}
		&.recording {
			background: rgba(#D15809, 0.8);
		}
		&.upload {
			background: rgba(#9455A6, 0.33);
			span.rec-progress {
				width: 50%;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(#9455A6, 0.45);
				z-index: 0;
				transition: width 0.5s ease;
			}
			div.content {
				position: relative;
				z-index: 2;
			}
		}
	}
}

div#container {
	display: flex;
	flex-flow: row;
	height: 100%;
}

div#sidebarArea {
	background: $sidebarBg;
	color: white;
	width: 25%;
	max-width: 400px;
	min-width: 250px;
	display: flex;
	flex-flow: column;
	a {
		color: white;
	}
	#controlsPane {
		flex: 0 0 auto;
		div.box {
			box-shadow: 0 0 0 15px rgba(0,0,0,0.08) inset;
			padding: 15px;
			text-align: center;
		}
		padding: 0;
		#self {
			div.name {
				margin-top: 5px;
			}
			div.meter {
				background: rgba(white,0.2);
				> span.meter {
					background: white;
				}
				margin-top: 5px;
				margin-bottom: 10px;
			}
		}
	}
	#secondaryPane {
		flex: 1 1 auto;
		display: flex;
		> div.pane {
			display: flex;
			flex-flow: column;
			> div.box {
				flex: 1 1 auto;
			}
		}
	}
	div.box {
		position: relative;
	}
	#eventLogPane {
		flex: 5 1 auto;
	}
	nav {
		flex: 0 0 auto;
		height: 40px;
	}
	.pane h3 {
		background: rgba(0,0,0,0.43);
		text-align: left;
		padding: 10px;
		text-transform: uppercase;
		font-size: 16px;

	}
	.btn {
		background: $sidebarButtonBg;
		color: $sidebarBg;
		border: 0;
		border-radius: 0;
		text-shadow: none;
	}
	.btn.recorder span.fa {
		font-size: 13px;
	}
}
div#mainArea {
	> nav {
		flex: 0 0 auto;
		height: 40px;
	}
	flex: 1;
	display: flex;
	flex-flow: column;
	#mainPane {
		flex: 1 1 auto;
		display: flex;
		.user-grid {
			em.empty {
				font-weight: bold;
				font-style: italic;
				font-size: 30px;
				color: #B2B2B2;
			}
			background: url(img/bg.png);
			flex: 1 1 auto;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-around;
			overflow: hidden;
			.peer, .user {
				width: 100%;
				margin: 10px;
				max-width: 400px;
				position: relative;
				margin: 0 auto;
				z-index: 4;
				&:after {
					$borderWidth: 5px;
					content: " ";
					z-index: -1;
					position: absolute;
					width: 100%;
					height: 0;
					top: calc(-50% + 30px);
					left: 0;
					padding-bottom: calc(100% - #{$borderWidth*2});
					background: white;
					border: 5px solid rgb(241, 241, 241);
					border-radius: 100%;
				}
				.visual {
					position: relative;
				}
				div.name {
					width: 70%;
					margin: 0 auto;
					text-align: center;
					font-size: 20px;
					ul.dropdown-menu {
						right: 0;
						left: 0;
						width: 50%;
						min-width: 120px;
						margin: 0 auto;
					}
				}
			}
		}
	}
}

div.pane {
	h3 {
		margin: 0;
		font-size: 1.8rem;
		text-align: center;
		padding-bottom: 3px;
	}
	position: relative;
}

.user, .peer {
	a.options i {
		font-size: 0.9em;
	}
	div.visual {
		> img, video {
			width: 50%;
			margin: 0 auto;
			display: block;
		}
		img {
			max-width: 256px;
		}
	}
	div.meter {
		display: block;
		height: 5px;
		border: none;
		width: 50%;
		margin: 0 auto;
		background: rgba(0,0,0,0.2);
		> span.percent {
			background: black;
		}
	}
}

// div#callPanel {
// 	width: 50%;
// 	flex: 1 0 50%;
// }

// div#usersPanel {
// 	ul#usersList {
// 		list-style-type: none;
// 		padding: 0;
// 		margin: 0;
// 	}
// }

// div.video {
// 	position: relative;
// 	div.overlay {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		div.top {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			right: 0;
// 			@include clearfix;
// 		}
// 		div.l {
// 			float: left;
// 			span:last-child {
// 				border-radius: 0 0 5px 0;
// 			}
// 		}
// 		div.r {
// 			float: right;
// 			span:first-child {
// 				border-radius: 0 0 0 5px;
// 			}
// 		}
// 		div.l, div.r {
// 			@include clearfix;
// 		}
// 		span {
// 			float: left;
// 			background: rgba(0,0,0,0.5);
// 			width: 32px;
// 			height: 32px;
// 			text-align: center;
// 			line-height: 32px;
// 			color: white;
// 			> i {

// 			}
// 		}
// 	}
// }


// div.users ul li.self {
// 	font-weight: bold;
// }


div#eventLogPane {
	div.box {
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 30px;
			z-index: 0;
			background: linear-gradient(rgba($sidebarBg, 0), $sidebarBg);
		}
	}
	.scroller {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow-y: scroll;
	}
	ul#logsList {
		font-family: "PT Sans";
		font-size: 12px;
		list-style-type: none;
		padding: 0;
		padding-bottom: 37px;
		margin: 0;
		
		li {
			display: block;
			padding: 2px 6px;
			time {
				display: inline-block;
				width: 7ex;
				opacity: 0.7;
			}
			div.content { display: inline; }
			&:nth-child(2n+1) {
				background: rgba(0,0,0,0.15);
			}
		}
		
	}
	textarea {
		position: absolute;
		height: 30px;
		bottom: 5px;
		width: calc(100% - 10px);
		left: 5px;
		z-index: 2;
		box-shadow: 0 3px 5px rgba(0,0,0,0.5);
		border: none;
		&::-webkit-input-placeholder, &::-moz-placeholder {
			font-style: italic;
		}
	}
}

div#ffGUMInstructions {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	display: block;
	z-index: 100;
	color: white;
	p {
		font-size: 23px;
		margin-top: 176px;
		margin-left: 46px;
		width: 50%;
		font-style: italic;
		text-shadow: 1px 1px 4px black;
	}
}

// div.video-local {
// 	video {
// 		width: 100%;
// 	}
// }
// video#remoteVideo {
// 	width: 100%;
// }