<div class="video" style="display:none;">
    <video id="remoteVideo"></video>
    <div class="overlay">
        <div class="top">
            <div class="l">
                <span class="sound-status">
                    {{#if muted}}
                    <i class="fa fa-lg fa-microphone-slash" title="sound muted"></i>
                    {{else}}
                    <i class="fa fa-lg fa-microphone" title="sound"></i>
                    {{/if}}
                </span>
            </div>
            <div class="r">
                {{#if recording}}
                <span class="recording-status">
                    <i class="fa fa-circle" title="user is recording"></i>
                </span>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="waiting">Waiting for video...</div>

<div class="controls"></div>
<div style="text-align:center;"><small><a href="#" id="changeVidRes">change video resolution...</a></small></div>