<div class="row">
    <div class="col-md-4" style="text-align: center; padding-top: 40px;">
        <button disabled="disabled" class="btn btn-danger btn-lg start recorder"><span class="fa fa-circle" aria-hidden="true"></span> <span class="text">Record</span> <strong><time></time></strong></button>
    </div>
    <div class="col-md-4">
        <div class="video-local">
            <video></video>
        </div>
    </div>
    <div class="col-md-4"  style="text-align: center; padding-top: 40px;">
        {{#if recordings}}
        <button class="btn btn-primary btn-lg start recorder"><i class="fa fa-lg fa-upload" aria-hidden="true"></i> <span class="text">Request Files</span> <strong><time></time></strong></button>
        {{/if}}
    </div>

</div>