<div class="host-controls">
    <button disabled="disabled" class="btn btn-danger btn-lg start recorder"><span class="fa fa-circle" aria-hidden="true"></span> <span class="text">Record</span> <strong><time></time></strong></button>
    <button class="btn btn-danger btn-lg start stream"><span class="fa fa-camera" aria-hidden="true"></span> <span class="text">Turn <span class="toggle">on</span> <span class="type">microphones</span></span></button>
</div>