<div class="row">
    <div class="col-md-4" style="text-align: center; padding-top: 40px;">
        <button class="btn btn-danger btn-lg start recorder"><span class="fa fa-circle" aria-hidden="true"></span> <span class="text">Record</span> <strong><time></time></strong></button>
    </div>
    <div class="col-md-4">
        <div class="video-local">
            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10952871_10204993125781628_4432178124961189600_n.jpg?oh=76fb0323b091c7b5b6a66e4a006c9940&oe=5521F554&__gda__=1428601905_cef9583c4231ba2e3e8bd19fdd4bd1bc" style="width:100%;" />
        </div>
    </div>
    <div class="col-md-4"  style="text-align: center; padding-top: 40px;">
        <button class="btn btn-primary btn-lg start recorder"><i class="fa fa-lg fa-upload" aria-hidden="true"></i> <span class="text">Send</span> <strong><time></time></strong></button>
    </div>

</div>