<li class="leave">
	<time title="{{formatTime timestamp 'MMMM Do YYYY, hh:mm:ss'}}" datetime="{{formatTime timestamp ''}}">{{formatTime timestamp 'hh:mm'}}</time>
	<div class="content">{{ data.attributes.name }} left.</div>
</li>