<div class="row">
    <div class="col-md-4" style="text-align: center; padding-top: 40px;">
        
    </div>
    <div class="col-md-4">
        <div class="video-local">
            {{#if videoAvailable}}<video></video>{{/if}}
        </div>
    </div>
    <div class="col-md-4"  style="text-align: center; padding-top: 40px;">
        
    </div>

</div>