<!--<div class="host-controls">
    <button disabled="disabled" class="btn btn-danger btn-lg start recorder"><span class="fa fa-circle" aria-hidden="true"></span> <span class="text">Start recording</span> <strong><time></time></strong></button>
</div>-->