<div class="visual">
	<video style="display:none;"></video>
	<img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=512" />
</div>
<div class="name"><em>Name {{name}}</em> <a href="#" class="options"><i class="fa fa-chevron-down" title="Options"></i></a></div>
<div class="meter"><span class="percent"></span></div>