{{#if error}}

Connection error.
{{#if reconnecting}}
<span class="reconnecting">Trying to reconnect...</time>.
{{else}}
<a href="#" class="manual">Retry</a>
{{/if}}

{{else}}Successfully connected!{{/if}}