<div class="users">
	<h3>Participants</h3>
    <ul>
        {{#collection}}
        <li class="{{#if isSelf}}self{{/if}}">
        	<span class="name" title="{{id}}">{{name}}</span>
        	<span class="role">({{role}})</span>
        </li>
        {{/collection}}
    </ul>
</div>