<div class="user peer">
	<div class="visual">
		<video style="display:none;"></video>
		<img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=512" />
	</div>
	<audio></audio>
	<div class="name"><em>Barack Obama</em> <a href="#" class="options">Options</a></div>
	<progress class="meter"></progress>
	<div class="menu" style="display:none;">
		<a href="#" class="mute">Mute</a>
		<a href="#" class="kick">Kick</a>
	</div>
</div>